<form (ngSubmit)="onSubmit(time)" #form="ngForm">
  <div>
    <paper-input name="date" label="Date *" type="date" [(ngModel)]="time.date" ngDefaultControl
      required></paper-input>
  </div>
  <div>
    <paper-input #hours name="hours" label="Hours *" required type="number" [(ngModel)]="time.hours"
      ngDefaultControl></paper-input>
  </div>
  <div>
    <paper-input #what name="what" label="What? *" required [(ngModel)]="time.what" ngDefaultControl></paper-input>
  </div>
  <button #submit style="display: none"></button>
  <paper-button (click)="submit.click()" [disabled]="!form.form.valid">Log Time</paper-button>
</form>
