.secondary {
  opacity: .3;
  font-size: .8em;
}

app-time-form {
  margin-bottom: 10px;
}

.time-filter {
  margin-bottom: 20px;
}

paper-dropdown-menu {
  width: 200px;
}

paper-listbox {
  width: 150px;
}
