<app-time-form (createTime)="onCreateTime($event)" *ngIf="showCreate"></app-time-form>
<paper-dropdown-menu label="Date filter" (iron-select)="onFilterChanged($event.target.selected)">
  <paper-listbox class="dropdown-content" selected="0">
    <paper-item *ngFor="let filter of filters">{{filter.description}}</paper-item>
  </paper-listbox>
</paper-dropdown-menu>
<app-table *ngIf="model && !((model | async)?.times | isEmpty)" [tableOptions]="tableOptions"
  [data]="(model | async)?.times"></app-table>
<div *ngIf="loaded && (model | async)?.times | isEmpty">No Results</div>
